<!DOCTYPE html>
<html ng-app='chatApp'>

<head>
    <meta charset="utf-8">
    <title>chat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="/public/libs/bootstrap/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/public/libs/flat-ui/css/flat-ui.css"> -->
    <link rel="stylesheet" href="/public/libs/adminLTE/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/public/libs/font-awesome/css/font-awesome.css">

    <style media="screen">
        .container {
            margin-top: 150px;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">

                <div class="box box-success direct-chat direct-chat-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Direct Chat</h3>
                        <div class="box-tools pull-right">
                            <span data-toggle="tooltip" title="3 New Messages" class="badge bg-green">3</span>
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <!-- In box-tools add this button if you intend to use the contacts pane -->
                            <button class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle"><i class="fa fa-comments"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!-- Conversations are loaded here -->
                        <div class="direct-chat-messages">
                            <!-- Message. Default to the left -->
                            <div class="direct-chat-msg">
                                <div class="direct-chat-info clearfix">
                                    <span class="direct-chat-name pull-left">Alexander Pierce</span>
                                    <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
                                </div>
                                <!-- /.direct-chat-info -->
                                <img class="direct-chat-img" src="/public/libs/adminLTE/img/user1-128x128.jpg" alt="message user image">
                                <!-- /.direct-chat-img -->
                                <div style="display:inline" class="direct-chat-text">
                                    Is this template really for free? That's unbelievable!
                                </div>
                                <!-- /.direct-chat-text -->
                            </div>
                            <!-- /.direct-chat-msg -->

                            <!-- Message to the right -->
                            <div class="direct-chat-msg right">
                                <div class="direct-chat-info clearfix">
                                    <span class="direct-chat-name pull-right">Sarah Bullock</span>
                                    <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>
                                </div>
                                <!-- /.direct-chat-info -->
                                <img class="direct-chat-img" src="/public/libs/adminLTE/img/user3-128x128.jpg" alt="message user image">
                                <!-- /.direct-chat-img -->
                                <div style="text-align:right;" class="direct-chat-text">
                                    You better believe it!
                                </div>
                                <!-- /.direct-chat-text -->
                            </div>
                            <!-- /.direct-chat-msg -->
                            <div id="msg_end" style="height:0px; overflow:hidden"></div>
                        </div>
                        <!--/.direct-chat-messages-->

                        <!-- Contacts are loaded here -->
                        <div class="direct-chat-contacts">
                            <ul class="contacts-list">
                                <li>
                                    <a href="#">
                                        <img class="contacts-list-img" src="/public/libs/adminLTE/img/user1-128x128.jpg" alt="Contact Avatar">
                                        <div class="contacts-list-info">
                                            <span class="contacts-list-name">
                          Count Dracula
                          <small class="contacts-list-date pull-right">2/28/2015</small>
                        </span>
                                            <span class="contacts-list-msg">How have you been? I was...</span>
                                        </div>
                                        <!-- /.contacts-list-info -->
                                    </a>
                                </li>
                                <!-- End Contact Item -->
                            </ul>
                            <!-- /.contatcts-list -->
                        </div>
                        <!-- /.direct-chat-pane -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="input-group">
                            <input id="msg-input" type="text" name="message" placeholder="Type Message ..." class="form-control">
                            <span class="input-group-btn">
                  <button id="say" type="button" class="btn btn-success btn-flat">Send</button>
                </span>
                        </div>
                    </div>
                    <!-- /.box-footer-->
                </div>
                <!--/.direct-chat -->
            </div>
        </div>
    </div>

    <!-- 输入用户名的modal -->
    <!-- fade会有动画效果 -->
    <div class="modal fade" id="init" tabindex="-1" data-backdrop='static' role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div ng-controller="sign" class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">输入一个用户名,然后开始吧</h4>
                </div>
                <div class="modal-body">
                    <form novalidate class="form-horizontal">
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">用户名</label>
                            <div class="col-sm-9">
                                <input ng-model='username' type="text" class="form-control" name="username" id="username" placeholder="username">
                            </div>
                        </div>

                    </form>
                </div>

                <div class="modal-footer">
                    <div class="col-sm-3 col-sm-offset-4">
                        <button ng-click='signUser()' type="button" class="btn btn-primary">确定</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
<script src="/public/libs/jquery/jquery-2.2.3.js" charset="utf-8"></script>
<script src="/public/libs/socket.io/socket.io.js" charset="utf-8"></script>
<script src="/public/libs/bootstrap/js/bootstrap.js" charset="utf-8"></script>
<script src="/public/libs/angular/angular.js" charset="utf-8"></script>

<script src="/public/res/js/config.js" charset="utf-8"></script>
<script src="/public/res/js/main.js" charset="utf-8"></script>
<script src="/public/res/js/chat.js" charset="utf-8"></script>
<script src="/public/res/js/connect.js" charset="utf-8"></script>

<script type="text/javascript">
    $(function() {
        $("#init").modal('show');
    })
</script>

</html>
