<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>template</title>
</head>

<body>

    <!-- 左侧的消息框,对方的消息  -->
    <div id="msg-left">
        <div class="direct-chat-msg">
            <div class="direct-chat-info clearfix">
                <span class="direct-chat-name pull-left">Alexander Pierce</span>
                <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
            </div>
            <!-- /.direct-chat-info -->
            <img alt="message user image" src="/public/libs/adminLTE/img/user1-128x128.jpg" class="direct-chat-img">
            <!-- /.direct-chat-img -->
            <div class="direct-chat-text">
                Is this template really for free? That's unbelievable!
            </div>
            <!-- /.direct-chat-text -->
        </div>
    </div>

    

    <div id="msg-right">
        <!-- 右侧的消息框,本人的消息 -->
        <div class="direct-chat-msg right">
            <div class="direct-chat-info clearfix">
                <span class="direct-chat-name pull-right">Sarah Bullock</span>
                <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>
            </div>
            <!-- /.direct-chat-info -->
            <img alt="message user image" src="/public/libs/adminLTE/img/user3-128x128.jpg" class="direct-chat-img">
            <!-- /.direct-chat-img -->
            <div class="direct-chat-text">
                You better believe it!
            </div>
            <!-- /.direct-chat-text -->
        </div>
    </div>
</body>

</html>
